@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>

    <h1>View Data: @ViewData["msg"] </h1>
    <h1>View Bag: @ViewBag.data</h1>
    <h1>Temp Data: @TempData["Message"] </h1>
</main>